<h1>Listing point_line_items</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>User</th>
      <th>Points</th>
      <th>Source</th>
      <th>Spend</th>
      <th>Left</th>
      <th>Ended</th>
      <th>created_at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @point_line_items.each do |point_line_item| %>
      <tr>
        <td><%= point_line_item.id %></td>
        <td><%= point_line_item.user_id %></td>
        <td><%= point_line_item.points %></td>
        <td><%= point_line_item.source %></td>
        <td><%= point_line_item.created_at %></td>
        <td><%= link_to 'Show', point_line_item %></td>
        <td><%= link_to 'Edit', edit_point_line_item_path(point_line_item) %></td>
        <td><%= link_to 'Destroy', point_line_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Point line item', new_point_line_item_path %>
